header {
    text-align: center;
    text-decoration: underline;
}

main {
    text-align: center;
}

section {
    text-align: left;
}

footer {
    text-align: center;
}

* {
    background-color: #c7c7c5;
}

.red {
    color: red;
}

.important {
    font-weight: bold;
}

#top {
    border: 3px solid black; 
    background-color: lightblue; 
}

#bottom {
    border: 1px solid black; 
    padding: 10px; 
}