header {
    text-align: center;
    text-decoration: underline;
}

main {
    text-align: center;
}

section {
    text-align: left;
}

footer {
    text-align: center;
}

* {
    background-color: #c7c7c5;
}

.darkred {
    color: #8c0000;
}

.important {
    font-weight: bold;
}

#top {
    border: 3px solid black; 
    background-color: lightblue; 
}

/*no longer need this*/
/*#bottom {
    border: 1px solid black; 
    padding: 10px; 
}

/*.album_track_list {
    display: flex;
}

/*.album_track_list img {
    width: 250px;
    height: 250px;
}

/*.album_track_list section {
    margin: 0;
    padding: 10px;
}*/

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

/* flex containers are made obsolete by bootstrap*/
/*.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}
      
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
      
@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
}*/