header {
    text-align: center;
    text-decoration: underline;
}

main {
    text-align: center;
}

section {
    text-align: left;
}

footer {
    text-align: center;
}

* {
    background-color: #c7c7c5;
}